
/* home page */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --light-text-color: #FFFFFF;
    --accent-color: #2196F3; 
    --background-page-color: #FFFFFF;
    --team-background-color: #F5F4FA;
    --footer-contacts-color: #FFFFFF99;
    --portfolio-buttons-bg-color: #F5F4FA;
}

ul {
    list-style: none;
}

.body {
    color: var(--primary-text-color);
    background-color: var(--background-page-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}



/* header */

.logo {
    color: #2196F3;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-span {
    color: #000000;
}

.header-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-nav .current {
    color: var(--accent-color)
}

.header-nav a:hover, .header-nav a:focus {
    color: var(--accent-color);
}

.header-contacts a {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header-contacts a:hover, .header-contacts a:focus {
    color: var(--accent-color);
}



/* main */

.hero {
background-color: #2F303A;
}

.hero-title {
    color: var(--light-text-color);
    font-weight: 900;
    font-size: 1.36;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color: var(--light-text-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.adventages-titles {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.sections-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team {
    background-color: var(--team-background-color);
}

.our-team-items {
    background: var(--background-page-color);
}

.our-team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}



/* footer */

.footer {
    background-color: #2F303A;
}

.logo-footer {
    color: #FFFFFF;
}

.adress {
    color: var(--light-text-color);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress:hover, .adress:focus {
    color: var(--accent-color);
}

.footer-contacts {
    color: var(--footer-contacts-color);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-contacts:hover, .footer-contacts:focus {
    color: var(--accent-color);
}


/* portfolio page */

.portfolio-buttons {
    background-color: var(--portfolio-buttons-bg-color);
    color: var(--primary-text-color);
    font-family: inherit; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer
}

.portfolio-buttons:hover {
    background-color: var(--accent-color);
    color: var(--light-text-color);
}

.portfolio-examples h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-examples p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}


